<!DOCTYPE html>
<html>
<head>
  <title>Barman 2.0</title>
</head>
<body>
  <h1>Application for drink successful!</h1>

  <p>Hello <%= @name.capitalize %>. Here's your drink.</p>

  <p><a href='/'>Try again.</a></p>

</body>
</html>