<!DOCTYPE html>
<html>
<head>
  <title>Barman 2.0</title>
  <title>Barman 2.0</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
  <div class='container'>
    <form method="post" action='/'>
      <input type='text' name='user_name' placeholder='name'>
      <input type='text' name='user_age' placeholder='age'>
  <div class=".col-xs-6 .col-md-4";>
  	<div class="checkbox">
  		<label>
  	<input type="checkbox">
  		wine
  	</label>
  </div>
      <button type='submit'>Submit</button>
    </form>
  </div>
    </div>
  


 <!-- <div class=".col-xs-6 .col-md-4";> 
 beer
</div> -->

</div>
</body>
</html>