<!DOCTYPE html>
<html>
<head>
  <title>Barman 2.0</title>
</head>
<body>
  <div class='container'>
    <form method="post" action='/'>
      <input type='text' name='user_name' placeholder='name'>
      <input type='text' name='user_age' placeholder='age'>

      <button type='submit'>Submit</button>
    </form>
  </div>
</body>
</html>