<!DOCTYPE html>
<html>
<head>
  <title>Barman 2.0</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/main.css">
</head>
<body>
<br>
<div class="container">	
	<div class="row">
				  <div class="col-sm-2"></div>
				  <div class="col-sm-8">
				  	<img src="http://i1.mirror.co.uk/incoming/article208927.ece/binary/cos-vinnie-jones-image-2-397827402.jpg" class="img-circle" height="200" width="150">
		  		  </div>
		  </div>
		<h1>Application for drink successful!</h1>

		<p>Hello <%= @name.capitalize %>. Here's your drink, and as it is ladies night, have another on the house!</p>

		<p><a href='/'>Try again.</a></p>
	</div>

</body>
</html>
