<!DOCTYPE html>
<html>
<head>
  <title>Barman 2.0</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Application for drink successful!</h1>

		<p>Hello <%= @name.capitalize %>. Here's your drink, and as it is ladies night, have another on the house!</p>

		<p><a href='/'>Try again.</a></p>
	</div>

</body>
</html>
