<!DOCTYPE html>
<html>
<head>
  <title>Barman 2.0</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

 
</head>
<body>
	<div class="container";>
  <h1>Application for drink denied!</h1>

  <p>This bar isn't the place for you, <%= @name.capitalize %>. You're too young.</p>

  <p><a href='/'>Try again.</a></p>
  
</body>
</html>