<!DOCTYPE html>
<html>
<head>
  <title>Barman 2.0</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
	<h1>Application for drink denied!</h1>

  	<p>This bar isn't the place for you, <%= @name.capitalize %>. You're too young.</p>

  	<p><a href='/'>Try again.</a></p>
  </div>
  	
</body>
</html>
