<!DOCTYPE html>
<html>
<head>
  <title>Barman 2.0</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="main.css">
</head>
<body>
<br>
<div class="container">
				<div class="row">
				  <div class="col-sm-2"></div>
				  <div class="col-sm-8">
				  	<img src="http://entimg.s-msn.com/i/150/Movies/Actors2/bjones0371694_150x200.jpg" class="img-circle" height="200" width="150">
		  		  </div>
		  </div>

	<h1>Application for drink denied!</h1>

  	<p>This bar isn't the place for you, <%= @name.capitalize %>. You're too young.</p>

  	<p><a href='/'>Try again.</a></p>
  </div>
  	
</body>
</html>
